body{
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}

.start-game-button{
    position: absolute;
    top: 10%;
    left: 38%;
    cursor: pointer;
}

.space-img{
    width: 200vh;
    height: 100vh;
}

.game{
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


