html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-content: center;
    background-color: black;
}

*{
    box-sizing: border-box;
}

.start-game-button{
    cursor: pointer;
    border-radius: 20px;
    padding: 15px 1em;
    font-size: 4em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

canvas{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;    
}

@media screen and (min-width: 800px){
    canvas{
        width: 800px;
    }
}

@font-face {
    font-family: 'SpaceMission';
    src: url('./space-mission-font/SpaceMission-rgyw9.otf');
  }


